<div layout-padding>
  <md-input-container class="md-block" flex>
    <label>Identity Type</label>
    <md-select ng-model="employee.identity.type" name="identityType" required>
      <md-option ng-repeat="identity in identityTypes" value="{{identity}}">{{identity}}</md-option>
    </md-select>
  </md-input-container>

  <span ng-switch="employee.identity.type">
    <span ng-switch-when="KTP">
      <div style="background:rgba(255,255,255,0.5); border:solid 1px rgba(0,0,0,0.1); border-radius:5px; margin-top:5px">
        <div class="md-headline" layout-padding>KTP</div>

        <md-divider></md-divider>

        <div layout-padding>
          <div>
            <md-input-container class="md-block">
              <label>No KTP</label>
              <input ng-model="employee.identity.no">
            </md-input-container>
          </div>

          <div layout="row">
            <md-input-container class="md-block" flex>
              <label>Registered Address</label>
              <input ng-model="employee.identity.address">
            </md-input-container>

            <md-input-container class="md-block" flex>
              <label>Registered Job</label>
              <input ng-model="employee.identity.job">
            </md-input-container>

            <md-input-container class="md-block" flex>
              <label>Religion</label>
              <input ng-model="employee.identity.religion">
            </md-input-container>

            <md-input-container class="md-block">
              <label>Valid Thru</label>
              <md-datepicker ng-model="employee.citizenship.ktp.validThru"></md-datepicker>
            </md-input-container>
          </div>
        </div>
      </div>
    </span>
    <span ng-switch-when="KITAS">
      <div style="background:rgba(255,255,255,0.5); border:solid 1px rgba(0,0,0,0.1); border-radius:5px; margin-top:5px">
        <div class="md-headline" layout-padding>KITAS</div>

        <md-divider></md-divider>

        <div layout-padding>
          <div>
            <md-input-container class="md-block" flex>
              <label>KITAS ID</label>
              <input ng-model="employee.identity.id">
            </md-input-container>
          </div>

          <div layout="row">
            <md-input-container class="md-block" flex>
              <label>Nationality</label>
              <input ng-model="employee.identity.nationality">
            </md-input-container>

            <md-input-container class="md-block">
              <label>Issuer</label>
              <md-datepicker ng-model="employee.identity.issuer"></md-datepicker>
            </md-input-container>

            <md-input-container class="md-block">
              <label>Valid Thru</label>
              <md-datepicker ng-model="employee.identity.due"></md-datepicker>
            </md-input-container>
          </div>
        </div>
      </div>
    </span>
    <span ng-switch-when="Passport">
      <div style="background:rgba(255,255,255,0.5); border:solid 1px rgba(0,0,0,0.1); border-radius:5px; margin-top:5px">
        <div class="md-headline" layout-padding>Passport</div>

        <md-divider></md-divider>

        <div layout-padding>
          <div>
            <md-input-container class="md-block" flex>
              <label>Passport ID</label>
              <input ng-model="employee.identity.id">
            </md-input-container>
          </div>

          <div layout="row">
            <md-input-container class="md-block" flex>
              <label>Nationality</label>
              <input ng-model="employee.identity.nationality">
            </md-input-container>

            <md-input-container class="md-block">
              <label>Issuer</label>
              <md-datepicker ng-model="employee.identity.issuer"></md-datepicker>
            </md-input-container>

            <md-input-container class="md-block">
              <label>Valid Thru</label>
              <md-datepicker ng-model="employee.identity.due"></md-datepicker>
            </md-input-container>
          </div>
        </div>
      </div>
    </span>
    <span ng-switch-when="Kartu Pelajar/Mahasiswa">Cancelled</span>
  </span>

  <div style="background:rgba(255,255,255,0.5); border:solid 1px rgba(0,0,0,0.1); border-radius:5px; margin-top:5px">
    <div class="md-headline" layout-padding>NPWP</div>

    <md-divider></md-divider>

    <div layout-padding>
      <div>
        <md-input-container class="md-block" flex>
          <label>NPWP</label>
          <input ng-model="employee.citizenship.npwp.npwpId">
        </md-input-container>
      </div>

      <div layout="row">
        <md-input-container class="md-block" flex>
          <label>KPP Issuer</label>
          <input ng-model="employee.citizenship.npwp.issuer">
        </md-input-container>

        <md-input-container class="md-block">
          <label>Valid From</label>
          <md-datepicker ng-model="employee.citizenship.npwp.validFrom"></md-datepicker>
        </md-input-container>

        <md-input-container class="md-block">
          <label>Valid Thru</label>
          <md-datepicker ng-model="employee.citizenship.npwp.validThru"></md-datepicker>
        </md-input-container>
      </div>
    </div>
  </div>

</div>

<div ng-if="display.error" class="error-notice">
  {{ display.error }}
</div>
